.front-page-section {
    overflow: auto;
}

#main-book-info {
    margin-left: 48px;
    margin-right: 48px;
}

#main-bio-info {
    margin-left: 48px;
    margin-right: 48px;
}

/* #main-book-img {
    float: right;
    width: 256px;
    height: auto;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-top: 0px;
} */


.main-book-img {
    float: right;
    width: 220px;
    height: auto;
    margin-right: 0px;
    margin-left: 64px;
    margin-bottom: 32px;
    margin-top: 16px;
    border-top: 4px ridge;
    border-left-style: ridge;
    border-right-style: ridge;
    border-bottom: 4px ridge;
    box-shadow: 0px 0px 10px grey;
}


#main-bio-img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 64px;
    margin-bottom: 32px;
    margin-top: 0px;
    border-top: 4px ridge;
    border-left-style: ridge;
    border-right-style: ridge;
    border-bottom: 4px ridge;
    border-color: #c4b000;
    box-shadow: 0px 0px 8px grey;
}

/*
#more-about-me{
    text-decoration: none;
}
*/